<% if session[:message] %>
  <h3 class="message"><%= session.delete(:message) %></h3>
<% end %>

<h1>Index</h1>
<ul>
  <li>
    <a href="/skills">Skills</a>
  </li>
  <li>
    <a href="/classes">Classes</a>
  </li>
</ul>