<!doctype html>
<html lang="en-US">
  <head>
    <title>Core Space</title>
    <link rel="stylesheet" href="/stylesheets/corespace.css">
  </head>
  <body>
    <header>
      <div class="topnav">
          <a class="active" href="/">Index</a>
          <a href="/skills">Skills</a>
          <a href="/classes">Classes</a>
          <a href="/crew">Crew</a>
      </div>
    </header>
    <main>
      <%== yield %>
    </main>
  </body>
</html>
